// ---------------------------------------------------------
//    Place your global variables, config switches here.
// ---------------------------------------------------------

@import 'variables';
